<div class="feature">
    <div class="container">
        <div class="content text-center mt-5 ">
            <h2>Features Of <span style="color: #21217e;">finiex</span><span style="color: rgb(95, 101, 214);">soft</span></h2>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum autem ipsam, architecto voluptate molestiae aliquam voluptatem incidunt nisi excepturi maxime aut provident sapiente impedit 
                odio et alias distinctio velit neque!</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card" style="width: 18rem;">
                <img src="../../assets/Accounting-black-and-white-line-icon-Graphics-4362425-1-580x387.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Accounting</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn text-primary">more </a>
        </div>
        </div>

            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card" style="width: 18rem;">
                <img src="../../assets/Accounting-black-and-white-line-icon-Graphics-4362425-1-580x387.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Accounting</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn text-primary">more </a>
        </div>
        </div>

            </div>
            <div class="col-md-4 mt-1 col-sm-12">
                <div class="card" style="width: 18rem;">
                <img src="../../assets/Accounting-black-and-white-line-icon-Graphics-4362425-1-580x387.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Accounting</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn text-primary">more </a>
        </div>
        </div>

            </div>
            <div class="col-md-4  mt-1 col-sm-12">
                <div class="card" style="width: 18rem;">
                <img src="../../assets/Accounting-black-and-white-line-icon-Graphics-4362425-1-580x387.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Accounting</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn text-primary">more </a>
        </div>
        </div>

            </div>
            <div class="col-md-4  mt-1 col-sm-12">
                <div class="card" style="width: 18rem;">
                <img src="../../assets/Accounting-black-and-white-line-icon-Graphics-4362425-1-580x387.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Accounting</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn text-primary">more </a>
        </div>
        </div>

            </div>
            <div class="col-md-4  mt-1 col-sm-12 ">
                <div class="card" style="width: 18rem;">
                <img src="../../assets/Accounting-black-and-white-line-icon-Graphics-4362425-1-580x387.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Accounting</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn text-primary">more </a>
        </div>
        </div>

            </div>
        </div>
        
    </div>
</div>