<div class="home">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 mt-5">
                 <h2 style="font-weight: bolder;">Lorem ipsum dolor sit amet consectetur.</h2>
                 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, quo.</p>
                 <a class="btn btn-detail ">Get started  for Free</a>
            </div>
            <div class="col-md-6">
               <img src="../../assets/computer-2982270_640.jpg"/>
            </div>
        </div>
    </div>
</div>
<div class="secend">
    <div class="container">
        <div class="row ">
            <div class="col-1"></div>
            <div class="col-md-5 style-vedio">
                <img class="img-vedio" src="../../assets/360_F_388051670_uB2VtAbL6aDFOepKK43eEuMgBKPL96Uu.jpg"/>
            </div>
            <div class="col-md-5  mt-5">
                 <h2>EBERYTHING</h2>
                 <h3>YOU NEED</h3>
                 <p>In <span class="special-style">ONE PLATFORM</span></p>
            </div>
        </div>
    </div>
</div>